html, body {
  height:100%;
  background-image: url('./img/cork-wallet.png');
  background-repeat: repeat;
  padding-top: 15px;
}

.App-container{
  max-width: 900px;
  margin: auto;
  padding: 0;
}

.App-title{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}


.App{
  border: solid 2px grey;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.Settings {
  text-align: center;
  border-bottom: solid 1px;
  width: 100%;
  display: table;
  min-height: 200px;
}

.Section-title{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(10, 161, 199, 0.24);

  width: 100%;
  height: 60px;
  padding-top: 10px;
}


* {
  box-sizing: border-box;
}

.Section-content {
  padding: 15px;
}

/* Create three equal columns that floats next to each other */
.Name-input, .Tasks-input, .Length-freq {
  width: 300px;
  min-height: 300px;
  display: table-cell;
}

.Name-input, .Tasks-input{
  border-right: 1px solid;
}

/* Clear floats after the columns */
.Settings:after {
  content: "";
  display: table;
  clear: both;
}

.CurrentConfig {
  padding: 20px;
  border-bottom: solid 1px;
}


.Names, .Name, .Tasks, .Task, .Frequency{
  padding-top: 7.5px;
}

.Name span, .Task span{
  font-style: italic;
}


.Frequency{
  text-align: justify;
  text-justify: inter-word;
  max-width: 100%;
  margin: auto;
  padding: 0;
}

.DeleteButton, .UnitSelection {
  padding-left: 5px;
  display: inline-block;
}

.myCal {
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif !important;
}

.react-calendar__navigation__label {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
}

.react-calendar__tile--active{
  background-color:green !important;
}

.myCal
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.myCal:before, .myCal:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.myCal:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.generatedTable{

  margin: auto;
  padding-top: 5%;
  padding: 0;
  background: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  min-height: 400px;
  padding:0;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.generatedTable table{
  background-color:white !important;
  width: auto;
  border-radius: 5px
}

.MyTable{
  margin: auto;
  padding: 20px;
}

.main {
  width: 50%;
}

.table
{
    margin: auto;
    padding: 0;
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.table:before, .table:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.table:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

td:nth-child(1) {  
  font-weight: bold;
  color: grey;
}

.Generator{
  padding-top: 30px;
  text-align: center;
}

.MyTable button{
  float: right;
}

.RedPdf{
  color: red !important;
  display: inline;
}

.DeleteButton{
  cursor: pointer;
  font-size: 1.2em;
  color: #30357e;
}

.DeleteButton:hover{
  color: red;
}

.CalendarButton:hover .CalendarIcon{
  color: green;
}

.GenerateButton{
  padding-bottom:40px;
}

.PdfButton {
  padding-top:20px;
  padding-bottom: 20px;
}

.footerLink{
  text-align: right;
  padding-bottom: 20px;
}

.footerLink >span{
  color: #e25555
}

input[type=text]{
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 6px;
  box-sizing: border-box;
  transition: .3s;
}

input[type=text]:focus{
  border-color:dodgerblue;
  box-shadow: 0 0 8px dodgerblue;
}

/* .AddButton {
  display:inline-block;
  width:25px;
  height:25px;
  line-height:13px;
  border: none;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #307acd;
  font-size:20px;
  margin-left: 8px;
  outline: none;
}

.AddButton:hover {
  background: #4e8cd3;
} */

  
.CircleButton {
  display: inline-block;
  vertical-align: middle;
}

.CircleButton button{
  display: inline-block;
  background-color: #307acd;
  border-radius: 50%;
  margin-left: 10px;
  padding: 0;
  border: none;
  outline: 0;
  box-shadow: 0 6px 6px -6px black;
}

.CircleButton button:hover{
  background-color: #4e8cd3;
  cursor: pointer;
}

.CircleText {
  color: white;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 34px;
  width: 34px;
  font-family: Arial;
  font-size: 24px;   
}

 .CircleText:hover, .CircleText:active {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .NoSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }