
.Settings {
  text-align: center;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.Name-input, .Tasks-input, .Length-freq {
  float: left;
  width: 33.33%;
  padding: 10px;
  /* background-color: #222; */
  /* background-color: white; */
  min-height: 400px;
  padding: 20px;
}

/* Clear floats after the columns */
.Settings:after {
  content: "";
  display: table;
  clear: both;
}

.Schedule {
  padding: 20px;
  /* text-align: center; */
  /* margin: auto; */
}

/* .Name-input, .Tasks-input, .Frequency {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
} */

.Names, .Name, .Tasks, .Task, .Frequency{
  padding-top: 15px;
}

.DeleteButton, .UnitSelection {
  padding-left: 5px;
  display: inline-block;
}

.myCal {
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif !important;
}

.react-calendar__navigation__label {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
}

.react-calendar__tile--active{
  background-color:green !important;
}

.myCal
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.myCal:before, .myCal:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.myCal:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.generatedTable{

  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 5px;
  padding: 0;
  background: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  height: 800px;
  padding:0;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.generatedTable table{
  background-color:white !important;
  width: auto;
  border-radius: 5px
}

.myTable{
  margin: auto;
  width: 50%;
  padding: 20px;
}

.main {
  width: 50%;
}

.table
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.table:before, .table:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.table:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}