.App {
  text-align: center;
}

/*.Settings {
  column-count: 3;
  column-gap: 1px;
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
  overflow: hidden;
}*/

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.Name-input, .Tasks-input, .Length-freq {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #222;
  min-height: 400px;
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.Settings:after {
  content: "";
  display: table;
  clear: both;
}

.Schedule {
  padding-top: 20px;
  text-align: center;
  margin: auto;
  padding: 0;
}

/* .Name-input, .Tasks-input, .Frequency {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
} */

.Names, .Name, .Tasks, .Task, .Frequency{
  padding-top: 15px;
}

.DeleteButton, .UnitSelection {
  padding-left: 5px;
  display: inline-block;
}